.image img{
    width: cover;
}

.content{
    margin: 20px;
    display: flex;
    
}
.content h5{
    padding-top: 20rem;
    text-align: right;
    font-weight: 300;
    font-size: 18px;
    margin-right: 4rem;

}

.content h2{
    margin: 60px;
    margin-top: 2rem;
    margin-right: 28rem;
}

.content2 h2{
    
    margin: 2rem;
    margin-left: 8rem;
    margin-right: 7rem;
    padding-top: 2rem;
    
    
}
.content2 h5{  
    text-align: left;  
    font-size: 18px;
    font-weight: 300;
    margin-right: 4rem;  
    
}
.content2{
    display: flex;
}

h2{
    padding-top: 5rem;
    margin: 2rem;
    margin-left: 8rem;
    font-size: 40px;
    font-weight: bold;
}

h3{
    font-size: 26px;
    margin: 2rem;
    margin-left: 8rem;  
}

/* AboutUs.css */

.gallery {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap; 
  }
  
  .gallery-item {
    width: 100%; 
    margin-bottom: 10px; 
  }
  
  .gallery-item img {
    width: 100%; 
    height: auto; 
  }

  .description{
    display: flex;
    margin-left: 8rem;
    margin-bottom: 3rem;
    align-items: center;
    gap: 30rem;

  }

  .description .text1{
    font-weight: bold;
    font-size: 25px;
  }
.bottom{
    padding-top: 0rem;
    
}
  .ruler {
    display: block;
    border: none;
    border-top: 1px solid #000; /* Warna garis */
    width: 70%;
  } 